.terraform**
!.terraform.lock.hcl
*_override.tf
*_override.tf.json
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
**/.terraform/*
backend.tf
crash.*.log
crash.log
**.zip
gke_gcloud_auth_plugin_cache
override.tf
override.tf.json
terraform.rc
**config